html, body {
    scroll-behavior:inherit;
}

.navbar .logo {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin: 1em 0;
}

.navbar ul {
    float: none;
    text-align: center;
    margin: 0 auto;
}

.nabvar ul li {
    display: inline-block;
    margin-bottom: 1em;
}

/* events */
#events .events-row{
    display: block;

    gap: 10px;
}

/* speakers */
#speakers .speakers-row {
    display: block;
}